* {box-sizing: border-box;
margin: 0;
padding: 0;
text-align: center;
}

body {background-color: RGB(235, 187, 64);
      font-family: sans-serif;

}

h1 {text-align: center;
    font-size: 60px;
    color: rgb(238, 204, 163);
    letter-spacing: 10px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}

img.beer {
    width: 200px;
    height: 150px;
    border-radius: 5px;

}

nav {margin: 0px;}

ul {
    display: inline-block;
}

li {border: 1px solid black;
    border-radius: 10px;
    width: 400px;
    background-color: bisque;
    list-style-type: none;
    padding: 8px;
    margin: 10px 10px 10px 10px;
}

li:hover {
    background-color: rgb(234, 161, 34);
}

a  {text-decoration: none;
    color: brown;
}

a.wikilink:hover {
    background-color: rgb(234, 161, 34);
}

p {font-style: italic; 
   margin: 10px;
}

.form-select {background-color: bisque;}

#butt {background-color: bisque;
       border-radius: 10px 10px 10px 10px;
       padding: 5px;
       font-size: 15px;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    
}